.doctor {
    &::-webkit-scrollbar {
        width: 13px;
        height: 133px;
    }

    &::-webkit-scrollbar-track {
        background: #72B7F2;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        background: #D0E1F1;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $light-accent-color;
    }

    /* Для Firefox */
    & {
        scrollbar-width: thin;
        scrollbar-color: #D0E1F1 #72B7F2;
    }

    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 60px);
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: $background-color;
    width: 390px;
    transform: translate(-50%, -50%);
    padding: 12px 14px 105px;

    &__close {
        background-color: transparent;
        line-height: 0;
        position: absolute;
        top: 16px;
        right: 24px;
    }

    &__dagger {
        fill: none;
        stroke: $light-accent-color;

        &:hover,
        &:focus {
            stroke: $dark-accent-color;
        }
    }

    &__person {
        margin-bottom: 20px;
    }

    &__avatar {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        margin-bottom: 24px;
    }

    &__record {}

    &__name {
        color: $dark-accent-color;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.13;
        text-align: center;
        margin-bottom: 20px;
    }

    &__characters {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 8px;
        margin-bottom: 24px;

    }

    &__character {
        display: flex;
        gap: 18px;
        align-items: center;
    }

    &__header {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.38;
    }

    &__info {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
    }

    &__btn {
        color: $additional-color;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.13;
        padding: 14px 71.5px;
        border-radius: 20px;
        background: $light-accent-color;

        &:hover,
        &:focus {
            background: $dark-accent-color;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }

    &__activity {
        padding-left: 8px;
    }

    &__subtitle {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        line-height: 1.38;
        margin-bottom: 12px;
    }

    &__descs {}

    &__desc {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
    }

    &__read {
        color: $dark-accent-color;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.13;
        text-decoration-line: underline;
        margin-top: 16px;
        text-align: end;
        display: block;
    }

    &__address {
        padding: 11px 18px;
        border-radius: 20px;
        border: 1px solid $light-accent-color;
        background: #F2F3F5;
    }

    &__caption {
        color: $dark-accent-color;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.13;
        margin-bottom: 16px;
    }

    &__works {
        margin-bottom: 20px;
        display: flex;
        gap: 32px;
    }

    &__work {
        color: $text-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.38;
    }

    &__reviews {
        margin-top: 40px;
    }

    &__title {
        color: $dark-accent-color;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.13;
        padding-left: 8px;
        margin-bottom: 46px;
    }

    &__list {}

    &__item {
        position: relative;

        &:nth-child(2),
        &:nth-child(3) {
            display: none;
        }
    }

    &__img {
        width: 80px;
        height: 80px;
        border: 0.413px solid $dark-accent-color;
        border-radius: 50%;
    }

    &__text {
        color: $text-color;
        font-size: 13.201px;
        font-weight: 400;
        padding: 15px 16px 16px 33px;
        width: 280px;
        border: 0.41px solid $light-accent-color;
        border-radius: 20.627px;
        background: #F2F3F5;
        position: absolute;
        top: -30px;
        left: 61px;
        z-index: -1;
    }
}

@media screen and (min-width: 1334px) {
    .doctor {
        padding: 40px;
        padding-bottom: 96px;
        width: 800px;

        &__close {
            top: 24px;
        }

        &__dagger {
            width: 32px;
            height: 32px;
        }

        &__person {
            display: flex;
            gap: 48px;
            align-items: center;
            margin-bottom: 64px;
        }

        &__avatar {
            width: 180px;
            height: 180px;
        }

        &__record {}

        &__name {
            font-family: "Open Sans";
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 1.14;
            margin-bottom: 8px;
        }

        &__characters {
            gap: 8px;
            margin-bottom: 8px;
        }

        &__character {
            gap: 12px;
        }

        &__header {
            font-size: 15.625px;
            font-weight: 400;
            line-height: 2.2;
        }

        &__info {
            font-size: 15.625px;
            line-height: normal;
        }

        &__btn {
            padding: 11.5px 119px;
            border-radius: 40px;
            font-family: "Open Sans";
            font-size: 15.625px;
            font-weight: 600;
            line-height: 1.2;
        }

        &__wrapper {
            flex-direction: row;
            justify-content: space-between;
        }

        &__activity {
            width: 408px;
        }

        &__subtitle {
            font-size: 18.75px;
            font-weight: 400;
            line-height: 1.83;
            margin-bottom: 13px;
        }

        &__descs {}

        &__desc {
            font-size: 15.625px;
            line-height: normal;
        }

        &__read {
            font-family: "Open Sans";
            font-size: 14px;
            line-height: normal;
            margin-top: 24px;
        }

        &__address {
            width: 244px;
            height: 216px;
            padding: 29px 24px;
        }

        &__caption {
            font-family: "Open Sans";
            font-size: 18.75px;
            font-weight: 600;
            line-height: 1.83;
            margin-bottom: 8px;
        }

        &__works {
            margin-bottom: 30px;
            gap: 25px;
        }

        &__work {
            font-size: 15.625px;
            line-height: normal;
        }

        &__reviews {
            margin-top: 32px;
        }

        &__title {
            font-family: "Open Sans";
            font-size: 25px;
            font-weight: 400;
            line-height: 1.38;
            margin-bottom: 48px;
        }

        &__list {
            display: flex;
            gap: 40px;
        }

        &__item {
            transition: margin 0.5s ease;

            &:nth-child(2),
            &:nth-child(3) {
                display: block;
            }
        }

        &__img {
            width: 100px;
            height: 100px;
            border: 0.556px solid $dark-accent-color;
        }

        &__text {
            transition: opacity 0.5s ease;
            padding: 22px 16px 23px 38px;
            width: 374px;
            border: 1px solid $light-accent-color;
            border-radius: 20.627px;
            background: #F2F3F5;
            font-size: 17.786px;
            opacity: 0;
            pointer-events: none;
            left: 72px;
            top: -32px;
        }

        &__item:hover &__text {
            opacity: 1;
            pointer-events: all;
        }

        &__item:nth-child(1):hover+&__item:nth-child(2) {
            margin-left: 346px;
        }

        &__item:nth-child(2):hover+&__item:nth-child(3) {
            margin-left: 346px;
        }
    }
}

@media screen and (min-width: 1766px) {
    .doctor {
        width: 1024px;
        padding: 64px;
        padding-bottom: 87px;

        &__close {
            position: absolute;
            right: 50px;
            top: 50px;
        }

        &__dagger {
            width: 24px;
            height: 24px;
        }

        &__person {
            gap: 64px;
            margin-bottom: 66px;
        }

        &__avatar {
            width: 240px;
            height: 240px;
        }

        &__record {}

        &__name {
            font-size: 32px;
            line-height: 1.38;
            margin-bottom: 24px;
        }

        &__characters {
            gap: 14px;
            margin-bottom: 14px;
        }

        &__character {
            gap: 14px;
        }

        &__header {
            font-size: 20px;
        }

        &__info {
            font-size: 20px;
        }

        &__btn {
            padding: 4px 118.5px;
            border-radius: 50px;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.83;
        }

        &__wrapper {}

        &__activity {
            width: 523px;
        }

        &__subtitle {
            font-size: 24px;
            margin-bottom: 12px;
        }

        &__descs {}

        &__desc {
            font-size: 20px;
        }

        &__read {
            font-size: 16px;
            font-weight: 600;
            text-decoration-line: underline;
            margin-top: 26px;
        }

        &__address {
            width: 312px;
            height: 274px;
            padding: 40px 27px;
        }

        &__caption {
            font-size: 24px;
            font-weight: 400;
        }

        &__works {}

        &__work {
            font-size: 20px;
        }

        &__reviews {
            margin-top: 53px;
        }

        &__title {
            font-size: 32px;
            margin-bottom: 85px;
        }

        &__list {
            gap: 30px;
        }

        &__item {}

        &__img {
            width: 134px;
            height: 134px;
            border: 0.733px solid $dark-accent-color;
        }

        &__text {
            padding: 27px 28px 29px 57px;
            width: 484px;
            border: 0.71px solid $light-accent-color;
            border-radius: 20.627px;
            background: #F2F3F5;
            font-size: 22.767px;
            left: 90px;
        }

        &__item:nth-child(1):hover+&__item:nth-child(2) {
            margin-left: 463px;
        }

        &__item:nth-child(2):hover+&__item:nth-child(3) {
            margin-left: 463px;
        }
    }
}