.search {
    padding: 200px 0 224px;

    &__container {
        width: 671px;
        position: relative;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__text {
        padding: 40px 37px 60px;
        border: 1px solid #a4cef5;
        border-radius: 50px;
    }

    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 0.92;
        color: $dark-accent-color;
        margin-bottom: 52px;
    }

    &__list {
        display: flex;
        gap: 68px;
    }

    &__num {
        font-weight: 400;
        font-size: 96px;
        line-height: 0.46;
        color: #d1a4bc;
        margin-bottom: 32px;
        display: flex;
        gap: 22px;
        align-items: center;
    }

    &__small {
        font-weight: 600;
        font-size: 32px;
        color: #d1a4bc;
    }

    &__desc {
        font-weight: 400;
        font-size: 32px;
        color: $dark-accent-color;
    }

    &__btn {
        font-weight: 400;
        font-size: 32px;
        line-height: 1.38;
        color: $additional-color;
        background-color: $light-accent-color;
        padding: 18px 208px;
        border-radius: 50px;
    }

    &__photo:first-child &__img {
        position: absolute;
        top: -106px;
        left: 880px;
        border: 2px solid $light-accent-color;
        border-radius: 133px;
        width: 270px;
        height: 270px;
    }

    &__photo:nth-child(2) &__img {
        position: absolute;
        top: -128px;
        left: 1414px;
        border: 2px solid #fce296;
        border-radius: 135px;
        width: 266px;
        height: 270px;
    }

    &__photo:last-child &__img {
        position: absolute;
        top: 142px;
        left: 1158px;
        border: 2px solid #f3dfea;
        border-radius: 195px;
        width: 391px;
        height: 398px;
    }
}