<div class="contact">
  <form autocomplete="on" class="contact__form">
    <button class="contact__clise">
      <svg class="contact__icon" width="24" height="24">
        <use href="../svg/icons.svg#close-square"></use>
      </svg>
    </button>
    <h1 class="contact__title">Хочете, зателефонуємо Вам за 30 секунд?</h1>
    <input
      type="tel"
      name="user-tel"
      placeholder="Ваш номер телефону"
      class="contact__input"
      required
    />
    <button class="contact__btn">Зателефонуйте</button>
    <p class="contact__time">00:<span class="contact__minutes">29</span>:99</p>
  </form>
</div>
