<div data-doctor class="backdrop is-hidden">
  <div class="doctor">
    <button data-doctor-close class="doctor__close">
      <svg class="doctor__dagger" width="24" height="24">
        <use href="../svg/icons.svg#close-square"></use>
      </svg>
    </button>
    <div class="doctor__person">
      <picture>
        <source
          srcset="
            ./img/desktop/doctor/doctor-avatar@1x-desktop.webp 1x,
            ./img/desktop/doctor/doctor-avatar@2x-desktop.webp 2x
          "
          media="(min-width: 1766px)"
        />
        <source
          srcset="
            ./img/tablet/doctor/doctor-avatar@1x-tablet.webp 1x,
            ./img/tablet/doctor/doctor-avatar@2x-tablet.webp 2x
          "
          media="(min-width: 1334px)"
        />
        <source
          srcset="
            ./img/mobile/doctor/doctor-avatar@1x-mobile.webp 1x,
            ./img/mobile/doctor/doctor-avatar@2x-mobile.webp 2x
          "
          media="(max-width: 1333px)"
        />
        <img
          class="doctor__avatar"
          width="240"
          height="240"
          src="../img/mobile/doctor/doctor-avatar@1x-mobile.webp 1x"
          alt="Avatar"
        />
      </picture>
      <div class="doctor__record">
        <h1 class="doctor__name">Демчишин Ярослав Павлович</h1>
        <ul class="doctor__characters">
          <li class="doctor__character">
            <h3 class="doctor__header">Спеціалізація:</h3>
            <p class="doctor__info">Лікар інфекціоніст</p>
          </li>
          <li class="doctor__character">
            <h3 class="doctor__header">Стаж роботи:</h3>
            <p class="doctor__info">5 років</p>
          </li>
        </ul>
        <button class="doctor__btn">Записатись на прийом</button>
      </div>
    </div>
    <div class="doctor__wrapper">
      <div class="doctor__activity">
        <h2 class="doctor__subtitle">Професійна діяльність:</h2>
        <ul class="doctor__descs">
          <li class="doctor__desc">
            Закінчив ВНМУ ім. М. І. Пирогова у 2018 році за спеціальністю
            «Лікувальна справа» з відзнакою.
          </li>
          <li class="doctor__desc">
            Рішенням Вченої ради ВНМУ ім. М. І. Пирогова залишений на наукову
            роботу на кафедрі дитячих інфекційних хвороб.
          </li>
          <li class="doctor__desc">
            Протягом 2017-2018 навчального року працював...
          </li>
        </ul>
        <a href="" class="doctor__read">Читати далі</a>
      </div>
      <div class="doctor__address">
        <h3 class="doctor__caption">Робочі години:</h3>
        <ul class="doctor__works">
          <li class="doctor__work">Пн, Ср, Пт</li>
          <li class="doctor__work">08:00 - 16:30</li>
        </ul>
        <h3 class="doctor__caption">Контакти:</h3>
        <a href="tel:+380975559999" class="doctor__work"
          >Тел. +38097 555 99 99</a
        >
      </div>
    </div>
    <div class="doctor__reviews">
      <h2 class="doctor__title">Що говорять наші клієнти</h2>
      <ul class="doctor__list">
        <li class="doctor__item">
          <picture>
            <source
              srcset="
                ./img/desktop/doctor/doctor-photo1@1x-desktop.webp 1x,
                ./img/desktop/doctor/doctor-photo1@1x-desktop.webp 2x
              "
              media="(min-width: 1766px)"
            />
            <source
              srcset="
                ./img/tablet/doctor/doctor-photo1@1x-tablet.webp 1x,
                ./img/tablet/doctor/doctor-photo1@2x-tablet.webp 2x
              "
              media="(min-width: 1334px)"
            />
            <source
              srcset="
                ./img/mobile/doctor/doctor-photo1@1x-mobile.webp 1x,
                ./img/mobile/doctor/doctor-photo1@2x-mobile.webp 2x
              "
              media="(max-width: 1333px)"
            />
            <img
              class="doctor__img"
              width="240"
              height="240"
              src="../img/mobile/doctor/doctor-photo1@1x-mobile.webp 1x"
              alt="Avatar"
            />
          </picture>
          <p class="doctor__text">
            Записалася до лікаря через сайт, мені передзвонили, щоб підтвердити
            запис. Розмовляли ввічливо і відповіли на всі мої запитання про
            прийом. Це дуже зручно, мені сподобалось.
          </p>
        </li>
        <li class="doctor__item">
          <picture>
            <source
              srcset="
                ./img/desktop/doctor/doctor-photo2@1x-desktop.webp 1x,
                ./img/desktop/doctor/doctor-photo2@1x-desktop.webp 2x
              "
              media="(min-width: 1766px)"
            />
            <source
              srcset="
                ./img/tablet/doctor/doctor-photo2@1x-tablet.webp 1x,
                ./img/tablet/doctor/doctor-photo2@2x-tablet.webp 2x
              "
              media="(max-width: 1765px)"
            />
            <img
              class="doctor__img"
              width="240"
              height="240"
              src="../img/tablet/doctor/doctor-photo2@1x-tablet.webp 1x"
              alt="Avatar"
            />
          </picture>
          <p class="doctor__text">
            Лікар професіонал своєї справи. Підібрав чудове лікування, не
            приписав нічого зайвого.
          </p>
        </li>
        <li class="doctor__item">
          <picture>
            <source
              srcset="
                ./img/desktop/doctor/doctor-photo3@1x-desktop.webp 1x,
                ./img/desktop/doctor/doctor-photo3@1x-desktop.webp 2x
              "
              media="(min-width: 1766px)"
            />
            <source
              srcset="
                ./img/tablet/doctor/doctor-photo3@1x-tablet.webp 1x,
                ./img/tablet/doctor/doctor-photo3@2x-tablet.webp 2x
              "
              media="(max-width: 1765px)"
            />
            <img
              class="doctor__img"
              width="240"
              height="240"
              src="../img/tablet/doctor/doctor-photo3@1x-tablet.webp 1x"
              alt="Avatar"
            />
          </picture>
          <p class="doctor__text">
            Записалася до лікаря через сайт, мені передзвонили, щоб підтвердити
            запис. Розмовляли ввічливо і відповіли на всі мої запитання про
            прийом. Це дуже зручно, мені сподобалось.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
