<section class="doctors">
  <div class="container">
    <div class="doctors__cont">
      <h2 class="doctors__title">Лікарі</h2>
      <input
        placeholder="Шукати ім’я, професію"
        type="text"
        class="doctors__input"
      />
    </div>
    <ul class="doctors__ways">
      <li class="doctors__way">
        <a href="" class="doctors__addressing">Головна</a>
      </li>
      <li class="doctors__way">
        <svg class="doctors__icon" width="20" height="20">
          <use href="./svg/icons.svg#doctors-arrow"></use>
        </svg>
      </li>
      <li class="doctors__way">
        <a href="" class="doctors__addressing doctors__addressing--checked"
          >Знайти лікаря</a
        >
      </li>
    </ul>
    <ul class="doctors__profs">
      <li class="doctors__prof">
        <a href="" class="doctors__link">Всі лікарі</a>
      </li>
      <li class="doctors__prof">
        <a href="" class="doctors__link">Педіатри</a>
      </li>
      <li class="doctors__prof">
        <a href="" class="doctors__link">Хірург</a>
      </li>
      <li class="doctors__prof">
        <a href="" class="doctors__link">Кардіолог</a>
      </li>
      <li class="doctors__prof">
        <a href="" class="doctors__link">Невролог</a>
      </li>
      <li class="doctors__prof">
        <a href="" class="doctors__link">Гастроентеролог</a>
      </li>
      <li class="doctors__prof">
        <a href="" class="doctors__link">Інфекціоніст</a>
      </li>
    </ul>
    <ul class="doctors__list">
      <div class="doctors__row">
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo1@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo1@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo1@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo1@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo1@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo1@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo1@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Ткачук Олег Миколайович</h3>
              <p class="doctors__desc">Кардіолог</p>
            </article>
          </button>
        </li>
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo2@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo2@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo2@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo2@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo2@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo2@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo2@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Демчишин Ярослав Павлович</h3>
              <p class="doctors__desc">Інфекціоніст</p>
            </article>
          </button>
        </li>
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo3@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo3@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo3@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo3@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo3@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo3@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo3@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Тригуб Анна Вадимівна</h3>
              <p class="doctors__desc">Педіатр</p>
            </article>
          </button>
        </li>
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo4@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo4@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo4@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo4@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo4@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo4@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo4@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Дронь Алла Сергіївна</h3>
              <p class="doctors__desc">Невролог</p>
            </article>
          </button>
        </li>
      </div>
      <div class="doctors__row">
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo5@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo5@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo5@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo5@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo5@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo5@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo5@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Пархомчук Альона Василівна</h3>
              <p class="doctors__desc">Педіатр</p>
            </article>
          </button>
        </li>
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo6@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo6@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo6@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo6@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo6@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo6@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo6@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Білошицька Анна Олександрівна</h3>
              <p class="doctors__desc doctors__desc">
                Консультант з грудного вигодовування
              </p>
            </article>
          </button>
        </li>
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo7@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo7@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo7@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo7@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo7@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo7@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo7@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Шевчук Ірина Михайлівна</h3>
              <p class="doctors__desc">Дитяча лікарка УЗД</p>
            </article>
          </button>
        </li>
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo8@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo8@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo8@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo8@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo8@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo8@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo8@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Ткачук Олег Миколайович</h3>
              <p class="doctors__desc">Кардіолог</p>
            </article>
          </button>
        </li>
      </div>
      <div class="doctors__row">
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo9@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo9@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo9@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo9@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo9@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo9@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo9@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Маліновський Дмтро Сергійович</h3>
              <p class="doctors__desc">Вертерболог</p>
            </article>
          </button>
        </li>
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo10@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo10@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo10@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo10@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo10@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo10@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo10@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Вовк Анатолій Вікторович</h3>
              <p class="doctors__desc">Лікар УЗД</p>
            </article>
          </button>
        </li>
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo11@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo11@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo11@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo11@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo11@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo11@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo11@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Янощук Ольга Василівна</h3>
              <p class="doctors__desc">Педіатр</p>
            </article>
          </button>
        </li>
        <li class="doctors__item">
          <button class="doctors__btn">
            <article class="doctors__article">
              <picture>
                <source
                  srcset="
                    ./img/desktop/doctors/doctors-photo12@1x-desktop.webp 1x,
                    ./img/desktop/doctors/doctors-photo12@2x-desktop.webp 2x
                  "
                  media="(min-width: 1766px)"
                />
                <source
                  srcset="
                    ./img/tablet/doctors/doctors-photo12@1x-tablet.webp 1x,
                    ./img/tablet/doctors/doctors-photo12@2x-tablet.webp 2x
                  "
                  media="(min-width: 1334px)"
                />
                <source
                  srcset="
                    ./img/mobile/doctors/doctors-photo12@1x-mobile.webp 1x,
                    ./img/mobile/doctors/doctors-photo12@2x-mobile.webp 2x
                  "
                  media="(max-width: 1333px)"
                />
                <img
                  class="doctors__photo"
                  alt=""
                  src="./img/mobile/doctors/doctors-photo12@1x-mobile.webp 1x"
                />
              </picture>
              <h3 class="doctors__subtitle">Ямкова Ольга Олександрівна</h3>
              <p class="doctors__desc">Гастроентеролог</p>
            </article>
          </button>
        </li>
      </div>
    </ul>
    <button class="doctors__more">
      Дивитись ще
      <svg class="doctors__reload" width="24" height="24">
        <use href="./svg/icons.svg#doctors-repeat"></use>
      </svg>
    </button>
  </div>
</section>
