<section class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h2 class="faq__title">Питання-відповідь</h2>
      <aside class="faq__sidebar">
        <ul class="faq__squads">
          <li class="faq__squad">
            <button class="faq__subtitle">Загальні питання</button>
          </li>
          <li class="faq__squad">
            <button class="faq__subtitle">Реєстрація та вхід</button>
          </li>
          <li class="faq__squad">
            <button class="faq__subtitle">Вакцинація</button>
          </li>
          <li class="faq__squad">
            <button class="faq__subtitle">Відео-консультація</button>
          </li>
        </ul>
        <svg class="faq__bubles" width="430" height="934">
          <use href="./svg/icons.svg#faq-bubbles"></use>
        </svg>
      </aside>
    </div>
    <div class="faq__content">
      <ul class="faq__list">
        <li class="faq__item">
          <h3 class="faq__question">1. Як записатись до лікаря самостійно?</h3>
          <svg class="faq__plus" width="15" height="15">
            <use href="./svg/icons.svg#faq-plus"></use>
          </svg>
        </li>
        <li class="faq__item">
          <h3 class="faq__question">
            2. Як записатись до лікаря за направленням?
          </h3>
          <svg class="faq__plus" width="15" height="15">
            <use href="./svg/icons.svg#faq-plus"></use>
          </svg>
        </li>
        <li class="faq__item">
          <h3 class="faq__question">3. Як скасувати запис?</h3>
          <svg class="faq__plus" width="15" height="15">
            <use href="./svg/icons.svg#faq-plus"></use>
          </svg>
        </li>
        <li class="faq__item">
          <h3 class="faq__question">4. Як переглянути запис на прийом?</h3>
          <svg class="faq__plus" width="15" height="15">
            <use href="./svg/icons.svg#faq-plus"></use>
          </svg>
        </li>
        <li class="faq__item">
          <h3 class="faq__question">5. Як залишити відгук про лікаря?</h3>
          <svg class="faq__plus" width="15" height="15">
            <use href="./svg/icons.svg#faq-plus"></use>
          </svg>
        </li>
        <li class="faq__item">
          <h3 class="faq__question">6. Як змінити особисті дані?</h3>
          <svg class="faq__plus" width="15" height="15">
            <use href="./svg/icons.svg#faq-plus"></use>
          </svg>
        </li>
      </ul>
    </div>
    <svg class="faq__icon" width="153" height="151">
      <use href="./svg/icons.svg#reviews-icon"></use>
    </svg>
  </div>
</section>
