<section id="questions" class="faq">
  <div class="container">
    <div class="faq__wrapper">
      <h2 class="faq__title">Питання-відповідь</h2>
      <aside class="faq__sidebar">
        <ul class="faq__squads">
          <li class="faq__squad">
            <button class="faq__subtitle">Загальні питання</button>
          </li>
          <li class="faq__squad">
            <button class="faq__subtitle">Реєстрація та вхід</button>
          </li>
          <li class="faq__squad">
            <button data-vaccination-open class="faq__subtitle">
              Вакцинація
            </button>
          </li>
          <li class="faq__squad">
            <button class="faq__subtitle">Відео-консультація</button>
          </li>
        </ul>
        <svg class="faq__bubles" width="430" height="934">
          <use href="./svg/icons.svg#faq-bubbles"></use>
        </svg>
      </aside>
    </div>
    <div class="faq__content">
      <ul class="faq__list">
        <li class="faq__item">
          <input
            class="faq__input"
            type="checkbox"
            name="faq__accordion"
            id="cb1"
          />
          <label for="cb1" class="faq__question">
            1. Як записатись до лікаря самостійно?
          </label>
          <ul class="faq__points">
            <li class="faq__point">
              У розділі “Лікарі” оберіть потрібного лікаря.
            </li>
            <li class="faq__point">
              Натисніть на кнопку “Записатись на прийом”.
            </li>
            <li class="faq__point">
              Обрати зручну для вас дату, клікнути на кнопку "Записатись на
              прийом".
            </li>
            <li class="faq__point">Обрати вільний час прийому.</li>
            <li class="faq__point">
              Клікнути на кнопку "Записатись на обраний час".
            </li>
            <li class="faq__point">
              Ввести номер телефону, вказаний при реєстрації, та натиснути
              "Далі".
            </li>
            <li class="faq__point">
              Ввести пароль та натиснути кнопку "Вхід".
            </li>
            <li class="faq__point">
              При виборі кого записати на прийом, з випадаючого списку натиснути
              варіант "Записати дитину...." та натиснути на кнопку "Записатися
              на обраний час".
            </li>
            <li class="faq__point">
              Дочекатися повідомлення "Запис на прийом здійснено успішно".
            </li>
            <li class="faq__point">
              Переглянути створений візит в особистому кабінеті: "Візити" –
              "Заплановані".
            </li>
          </ul>
        </li>
        <li class="faq__item">
          <input
            class="faq__input"
            type="checkbox"
            name="faq__accordion"
            id="cb2"
          />
          <label for="cb2" class="faq__question">
            2. Як записатись до лікаря за направленням?
          </label>
          <ul class="faq__points">
            <li class="faq__point">
              У розділі “Лікарі” оберіть потрібного лікаря.
            </li>
            <li class="faq__point">
              Натисніть на кнопку “Записатись на прийом”.
            </li>
            <li class="faq__point">
              Обрати зручну для вас дату, клікнути на кнопку "Записатись на
              прийом".
            </li>
            <li class="faq__point">Обрати вільний час прийому.</li>
            <li class="faq__point">
              Клікнути на кнопку "Записатись на обраний час".
            </li>
            <li class="faq__point">
              Ввести номер телефону, вказаний при реєстрації, та натиснути
              "Далі".
            </li>
            <li class="faq__point">
              Ввести пароль та натиснути кнопку "Вхід".
            </li>
            <li class="faq__point">
              При виборі кого записати на прийом, з випадаючого списку натиснути
              варіант "Записати дитину...." та натиснути на кнопку "Записатися
              на обраний час".
            </li>
            <li class="faq__point">
              Дочекатися повідомлення "Запис на прийом здійснено успішно".
            </li>
            <li class="faq__point">
              Переглянути створений візит в особистому кабінеті: "Візити" –
              "Заплановані".
            </li>
          </ul>
        </li>
        <li class="faq__item">
          <input
            class="faq__input"
            type="checkbox"
            name="faq__accordion"
            id="cb3"
          />
          <label for="cb3" class="faq__question">3. Як скасувати запис? </label>
          <ul class="faq__points">
            <li class="faq__point">
              У розділі “Лікарі” оберіть потрібного лікаря.
            </li>
            <li class="faq__point">
              Натисніть на кнопку “Записатись на прийом”.
            </li>
            <li class="faq__point">
              Обрати зручну для вас дату, клікнути на кнопку "Записатись на
              прийом".
            </li>
            <li class="faq__point">Обрати вільний час прийому.</li>
            <li class="faq__point">
              Клікнути на кнопку "Записатись на обраний час".
            </li>
            <li class="faq__point">
              Ввести номер телефону, вказаний при реєстрації, та натиснути
              "Далі".
            </li>
            <li class="faq__point">
              Ввести пароль та натиснути кнопку "Вхід".
            </li>
            <li class="faq__point">
              При виборі кого записати на прийом, з випадаючого списку натиснути
              варіант "Записати дитину...." та натиснути на кнопку "Записатися
              на обраний час".
            </li>
            <li class="faq__point">
              Дочекатися повідомлення "Запис на прийом здійснено успішно".
            </li>
            <li class="faq__point">
              Переглянути створений візит в особистому кабінеті: "Візити" –
              "Заплановані".
            </li>
          </ul>
        </li>
        <li class="faq__item">
          <input
            class="faq__input"
            type="checkbox"
            name="faq__accordion"
            id="cb4"
          />
          <label for="cb4" class="faq__question">
            4. Як переглянути запис на прийом?
          </label>
          <ul class="faq__points">
            <li class="faq__point">
              У розділі “Лікарі” оберіть потрібного лікаря.
            </li>
            <li class="faq__point">
              Натисніть на кнопку “Записатись на прийом”.
            </li>
            <li class="faq__point">
              Обрати зручну для вас дату, клікнути на кнопку "Записатись на
              прийом".
            </li>
            <li class="faq__point">Обрати вільний час прийому.</li>
            <li class="faq__point">
              Клікнути на кнопку "Записатись на обраний час".
            </li>
            <li class="faq__point">
              Ввести номер телефону, вказаний при реєстрації, та натиснути
              "Далі".
            </li>
            <li class="faq__point">
              Ввести пароль та натиснути кнопку "Вхід".
            </li>
            <li class="faq__point">
              При виборі кого записати на прийом, з випадаючого списку натиснути
              варіант "Записати дитину...." та натиснути на кнопку "Записатися
              на обраний час".
            </li>
            <li class="faq__point">
              Дочекатися повідомлення "Запис на прийом здійснено успішно".
            </li>
            <li class="faq__point">
              Переглянути створений візит в особистому кабінеті: "Візити" –
              "Заплановані".
            </li>
          </ul>
        </li>
        <li class="faq__item">
          <input
            class="faq__input"
            type="checkbox"
            name="faq__accordion"
            id="cb5"
          />
          <label for="cb5" class="faq__question">
            5. Як залишити відгук про лікаря?
          </label>
          <ul class="faq__points">
            <li class="faq__point">
              У розділі “Лікарі” оберіть потрібного лікаря.
            </li>
            <li class="faq__point">
              Натисніть на кнопку “Записатись на прийом”.
            </li>
            <li class="faq__point">
              Обрати зручну для вас дату, клікнути на кнопку "Записатись на
              прийом".
            </li>
            <li class="faq__point">Обрати вільний час прийому.</li>
            <li class="faq__point">
              Клікнути на кнопку "Записатись на обраний час".
            </li>
            <li class="faq__point">
              Ввести номер телефону, вказаний при реєстрації, та натиснути
              "Далі".
            </li>
            <li class="faq__point">
              Ввести пароль та натиснути кнопку "Вхід".
            </li>
            <li class="faq__point">
              При виборі кого записати на прийом, з випадаючого списку натиснути
              варіант "Записати дитину...." та натиснути на кнопку "Записатися
              на обраний час".
            </li>
            <li class="faq__point">
              Дочекатися повідомлення "Запис на прийом здійснено успішно".
            </li>
            <li class="faq__point">
              Переглянути створений візит в особистому кабінеті: "Візити" –
              "Заплановані".
            </li>
          </ul>
        </li>
        <li class="faq__item">
          <input
            class="faq__input"
            type="checkbox"
            name="faq__accordion"
            id="cb6"
          />
          <label for="cb6" class="faq__question">
            6. Як змінити особисті дані?
          </label>
          <ul class="faq__points">
            <li class="faq__point">
              У розділі “Лікарі” оберіть потрібного лікаря.
            </li>
            <li class="faq__point">
              Натисніть на кнопку “Записатись на прийом”.
            </li>
            <li class="faq__point">
              Обрати зручну для вас дату, клікнути на кнопку "Записатись на
              прийом".
            </li>
            <li class="faq__point">Обрати вільний час прийому.</li>
            <li class="faq__point">
              Клікнути на кнопку "Записатись на обраний час".
            </li>
            <li class="faq__point">
              Ввести номер телефону, вказаний при реєстрації, та натиснути
              "Далі".
            </li>
            <li class="faq__point">
              Ввести пароль та натиснути кнопку "Вхід".
            </li>
            <li class="faq__point">
              При виборі кого записати на прийом, з випадаючого списку натиснути
              варіант "Записати дитину...." та натиснути на кнопку "Записатися
              на обраний час".
            </li>
            <li class="faq__point">
              Дочекатися повідомлення "Запис на прийом здійснено успішно".
            </li>
            <li class="faq__point">
              Переглянути створений візит в особистому кабінеті: "Візити" –
              "Заплановані".
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <svg class="faq__icon" width="153" height="151">
      <use href="./svg/icons.svg#reviews-icon"></use>
    </svg>
  </div>
</section>
