<section class="numbers">
  <div class="container">
    <h2 class="numbers__title">Про клініку в цифрах (2022)</h2>
    <ul class="numbers__list">
      <li class="numbers__item">
        <p class="numbers__subtitle">13 370</p>
        <p class="numbers__desc">щасливих пацієнтів</p>
      </li>
      <li class="numbers__item">
        <p class="numbers__subtitle">568</p>
        <p class="numbers__desc">вакцинацій</p>
      </li>
      <li class="numbers__item">
        <p class="numbers__subtitle">1 247</p>
        <p class="numbers__desc">лабораторних досліджень</p>
      </li>
      <li class="numbers__item">
        <p class="numbers__subtitle">+10</p>
        <p class="numbers__desc">років турботи про Ваших малят</p>
      </li>
    </ul>
  </div>
</section>
