<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Що говорять наші клієнти</h2>
    <div class="reviews__wrapper">
      <ul class="reviews__list">
        <li class="reviews__item">
          <picture>
            <source
              srcset="
                ./img/desktop/reviews/reviews-photo1@1x-desktop.webp 1x,
                ./img/desktop/reviews/reviews-photo1@2x-desktop.webp 2x
              "
              media="(min-width: 1766px)"
            />
            <source
              srcset="
                ./img/tablet/reviews/reviews-photo1@1x-tablet.webp 1x,
                ./img/tablet/reviews/reviews-photo1@2x-tablet.webp 2x
              "
              media="(min-width: 1334px)"
            />
            <source
              srcset="
                ./img/mobile/reviews/reviews-photo1@1x-mobile.webp 1x,
                ./img/mobile/reviews/reviews-photo1@2x-mobile.webp 2x
              "
              media="(max-width: 1333px)"
            />
            <img
              class="reviews__img"
              width="140"
              height="140"
              src="./img/mobile/reviews/reviews-photo1@1x-mobile.webp 1x"
              alt="Photo"
            />
          </picture>
          <p class="reviews__text">
            Записалася до лікаря через сайт, мені передзвонили, щоб підтвердити
            запис. Розмовляли ввічливо і відповіли на всі мої запитання про
            прийом. Це дуже зручно, мені сподобалось.
          </p>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="
                ./img/desktop/reviews/reviews-photo2@1x-desktop.webp 1x,
                ./img/desktop/reviews/reviews-photo2@2x-desktop.webp 2x
              "
              media="(min-width: 1766px)"
            />
            <source
              srcset="
                ./img/tablet/reviews/reviews-photo2@1x-tablet.webp 1x,
                ./img/tablet/reviews/reviews-photo2@2x-tablet.webp 2x
              "
              media="(min-width: 1334px)"
            />
            <source
              srcset="
                ./img/mobile/reviews/reviews-photo2@1x-mobile.webp 1x,
                ./img/mobile/reviews/reviews-photo2@2x-mobile.webp 2x
              "
              media="(max-width: 1333px)"
            />
            <img
              class="reviews__img"
              width="140"
              height="140"
              src="./img/mobile/reviews/reviews-photo2@1x-mobile.webp 1x"
              alt="Photo"
            />
          </picture>
          <p class="reviews__text">
            Звернулась за допомогою у Евіденс, і отримала чудовий результат.
            Провели відео-консультацію, я отримала всі відповіді на питання.
            Дуже зручно!
          </p>
        </li>
      </ul>
      <svg class="reviews__icon" width="528" height="520">
        <use href="./svg/icons.svg#reviews-icon"></use>
      </svg>
    </div>
  </div>
</section>
