<div data-thank class="backdrop is-hidden">
  <div class="thank">
    <div class="thank__header">
      <a href="" class="thank__logo">
        <picture>
          <source
            srcset="
              ./img/desktop/header/logo@1x-desktop.webp 1x,
              ./img/desktop/header/logo@2x-desktop.webp 2x
            "
            media="(min-width: 1766px)"
          />
          <source
            srcset="
              ./img/tablet/header/logo@1x-tablet.webp 1x,
              ./img/tablet/header/logo@2x-tablet.webp 2x
            "
            media="(min-width: 1334px)"
          />
          <source
            srcset="
              ./img/mobile/header/logo@1x-mobile.webp 1x,
              ./img/mobile/header/logo@2x-mobile.webp 2x
            "
            media="(max-width: 1333px)"
          />
          <img
            class="thank__img"
            width="186"
            height="48"
            src="./img/mobile/header/logo@1x-mobile.webp 1x"
            alt="logo"
          />
        </picture>
      </a>
      <p class="thank__conect">З’єднуємо з лікарем...</p>
    </div>
    <div class="thank__cont">
      <picture>
        <source
          srcset="
            ./img/desktop/thank/thank-heart@1x-desktop.webp 1x,
            ./img/desktop/thank/thank-heart@2x-desktop.webp 2x
          "
        />

        <img
          class="thank__heart"
          width="186"
          height="48"
          src="./img/desktop/thank/thank-heart@1x-desktop.webp 1x"
          alt="thank__heart"
        />
      </picture>
      <h2 class="thank__title">
        Дякуємо, що звернулись до нашого медичного центру!
      </h2>
      <p class="thank__text">
        Ми вже шукаємо для вас лікаря. Вартість консультації – 400 грн. Тим
        часом, будь ласка,
        <span class="thank__text--bold">зареєструйтесь.</span>
      </p>
    </div>
    <button data-thank-close class="thank__close">
      <svg class="thank__icon" width="24" height="24">
        <use href="./svg/icons.svg#close-square"></use>
      </svg>
    </button>
  </div>
</div>
