<div data-vaccination class="backdrop is-hidden">
  <div class="vaccination">
    <button data-vaccination-close class="vaccination__close">
      <svg class="vaccination__dagger" width="24" height="24">
        <use href="../svg/icons.svg#close-square"></use>
      </svg>
    </button>
    <div class="vaccination__wrapper">
      <h1 class="vaccination__title">Вакцинація</h1>
      <div class="vaccination__content">
        <div class="vaccination__header">
          <h2 class="vaccination__subtitle">Назва препарату</h2>
          <h2 class="vaccination__subtitle">Вартість</h2>
        </div>
        <ul class="vaccination__list">
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)
            </p>
            <p class="vaccination__cost">1980 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">Вакцинація від гепатиту А (Хаврикс)</p>
            <p class="vaccination__cost">2457 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація від ротавірусної інфекції (Ротарикс)
            </p>
            <p class="vaccination__cost">2680 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація Превенар (від пневмококової інфекції)
            </p>
            <p class="vaccination__cost">1800 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)
            </p>
            <p class="vaccination__cost">1980 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">Вакцинація від гепатиту А (Хаврикс)</p>
            <p class="vaccination__cost">2457 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація від ротавірусної інфекції (Ротарикс)
            </p>
            <p class="vaccination__cost">2680 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація Превенар (від пневмококової інфекції)
            </p>
            <p class="vaccination__cost">1800 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)
            </p>
            <p class="vaccination__cost">1980 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">Вакцинація від гепатиту А (Хаврикс)</p>
            <p class="vaccination__cost">2457 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація від ротавірусної інфекції (Ротарикс)
            </p>
            <p class="vaccination__cost">2680 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація Превенар (від пневмококової інфекції)
            </p>
            <p class="vaccination__cost">1800 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація від кашлюку, дифтерії, правцю (Бустрікс)
            </p>
            <p class="vaccination__cost">1980 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">Вакцинація від гепатиту А (Хаврикс)</p>
            <p class="vaccination__cost">2457 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація від ротавірусної інфекції (Ротарикс)
            </p>
            <p class="vaccination__cost">2680 грн</p>
          </li>
          <li class="vaccination__item">
            <svg class="vaccination__icon" width="32" height="32">
              <use href="./svg/icons.svg#arrow-down"></use>
            </svg>
            <p class="vaccination__name">
              Вакцинація Превенар (від пневмококової інфекції)
            </p>
            <p class="vaccination__cost">1800 грн</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
